In [1]:
import numpy as np
import pandas as pd

In [317]:
df1 = pd.read_excel("Data.xlsx", "traffic")
df2 = pd.read_excel("dataset.xlsx", "Scompare")
df3 = pd.read_excel("dataset.xlsx", "reviews")

In [11]:
df1.head()

   product       date  unique_page_views
0  Segment 2020-01-01               15.0
1  Segment 2020-01-02               29.0
2  Segment 2020-01-03               39.0
3  Segment 2020-01-04                6.0
4  Segment 2020-01-05                8.0

In [318]:
df2.head(20)

   left_product                        right_product                    date
0       Segment                         Supermetrics 2021-01-18 03:44:11.784
1       Segment                          Funnelytics 2021-01-18 04:25:20.682
2       Segment                           Bloomreach 2021-02-18 18:14:47.992
3       Segment                 Google Analytics 360 2021-01-18 04:31:47.677
4       Segment           Tealium AudienceStream CDP 2021-02-19 14:52:07.236
5       Segment                          Funnelytics 2021-01-18 06:58:02.077
6       Segment                             OneTrust 2021-02-22 16:50:12.847
7       Segment                             OneTrust 2021-02-22 17:06:56.524
8       Segment  IBM InfoSphere Information Analyzer 2021-02-19 16:10:55.605
9       Segment           Tealium AudienceStream CDP 2021-02-23 16:35:15.662
10      Segment                           Bloomreach 2021-01-18 12:09:52.092
11      Segment                           Bloomreach 2021-01-18 12:16:14.484
12      Segment                              Alation 2021-02-16 19:16:18.479
13      Segment                             Collibra 2021-02-16 19:16:18.497
14      Segment                             Adverity 2021-01-18 13:14:23.689
15      Segment           Tealium AudienceStream CDP 2021-01-18 13:58:27.036
16      Segment            Adobe Experience Platform 2021-02-19 15:43:55.547
17      Segment           Tealium AudienceStream CDP 2021-01-18 13:47:53.177
18      Segment           Tealium AudienceStream CDP 2021-01-18 13:52:01.251
19      Segment           Tealium AudienceStream CDP 2021-01-18 13:58:03.377

In [14]:
df3.head()

,review_id,review_date,product,company_segment,star_rating,meets_requirements,quality_of_support,ease_of_admin,ease_of_doing_business_with,ease_of_setup,ease_of_use,price,likes,dislikes,setup_cost,annual_recurring_cost,did_you_switch,switch_from,estimated_roi
0,2119283.0,2022-02-01,Optimove,Small Business,5.0,6.0,7.0,NaN,NaN,NaN,6.0,4.0,We are using Optimove nearly 2 years now for o...,There isn't much I dislike about Optimove but ...,NaN,NaN,Yes,Salesforce Email Studio,NaN
1,5083225.0,2022-02-01,Optimove,Mid-Market,5.0,5.0,7.0,6.0,5.0,3.0,5.0,4.0,"Player Segmentation, Professional Support, Dat...",Daily Update issue can be tedious to manage,NaN,NaN,No,NaN,6 months or less
2,4820017.0,2022-01-31,Treasure Data Customer Data Platform,Mid-Market,4.5,6.0,7.0,7.0,7.0,6.0,6.0,NaN,The most extraordinary thing about Treasure Da...,"Well, the biggest problem in my opinion are th...",NaN,NaN,No,NaN,7-12 months
3,5306121.0,2022-01-31,Lexer,Mid-Market,5.0,6.0,6.0,NaN,NaN,NaN,6.0,NaN,Team spends time at the start to ensure data i...,I do not have any negatives about the platform...,NaN,NaN,Don't Know,NaN,NaN
4,5306579.0,2022-01-31,Klaviyo,Small Business,5.0,7.0,6.0,7.0,7.0,7.0,7.0,5.0,I love how easily it integrates in ecommerce m...,"Pricing can be a concern, but they do give a f...",$0-999,$0-999,Yes,673.0,6 months or less

In [15]:
df1.info()
df2.info()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3803 entries, 0 to 3802
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product            3803 non-null   object
 1   date               3803 non-null   datetime64[ns]
 2   unique_page_views  3803 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 89.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28661 entries, 0 to 28660
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   left_product   28661 non-null  object
 1   right_product  28661 non-null  object
 2   date           28661 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 671.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2272 entries, 0 to 2271
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   review_id                    2272 non-null   float64
 1   review_date                  2272 non-null   datetime64[ns]
 2   product                      2272 non-null   object
 3   company_segment              2258 non-null   object
 4   star_rating                  2272 non-null   float64
 5   meets_requirements           1705 non-null   float64
 6   quality_of_support           1654 non-null   float64
 7   ease_of_admin                804 non-null    float64
 8   ease_of_doing_business_with  796 non-null    float64
 9   ease_of_setup                788 non-null    float64
 10  ease_of_use                  1707 non-null   float64
 11  price                        1102 non-null   float64
 12  likes                        2270 non-null   object
 13  dislikes                     2270 non-null   object
 14  setup_cost                   280 non-null    object
 15  annual_recurring_cost        298 non-null    object
 16  did_you_switch               1570 non-null   object
 17  switch_from                  302 non-null    object
 18  estimated_roi                392 non-null    object
dtypes: datetime64[ns](1), float64(9), object(9)
memory usage: 337.4+ KB

In [242]:
ui = df1["product"].unique()

In [49]:
df1.groupby("product").agg(sum_views = ("unique_page_views", sum))

            sum_views
product
Bloomreach    24935.0
Emarsys       22242.0
Insider       31941.0
Klaviyo       32455.0
Segment       42327.0

In [28]:
df1 = df1.drop("sum_views", axis = 1)

In [51]:
df1.groupby("product").mean()

            unique_page_views
product
Bloomreach          33.202397
Emarsys             29.150721
Insider             41.862385
Klaviyo             42.536042
Segment             55.474443

In [319]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28661 entries, 0 to 28660
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   left_product   28661 non-null  object
 1   right_product  28661 non-null  object
 2   date           28661 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 671.9+ KB

In [43]:
len(df2.left_product.unique())

304

In [44]:
len(df2.right_product.unique())

427

In [370]:
df1["year"] = pd.DatetimeIndex(df1.date).year
df1["month"] = pd.DatetimeIndex(df1.date).month

In [198]:
df = df1.groupby(["year", "month", "product"]).sum()
df.head(20)

                       unique_page_views
year month product
2020 1     Bloomreach              979.0
           Emarsys                 684.0
           Insider                 608.0
           Klaviyo                 843.0
           Segment                 835.0
     2     Bloomreach              881.0
           Emarsys                 540.0
           Insider                 731.0
           Klaviyo                 803.0
           Segment                 788.0
     3     Bloomreach              773.0
           Emarsys                 496.0
           Insider                 793.0
           Klaviyo                 717.0
           Segment                 751.0
     4     Bloomreach              737.0
           Emarsys                 512.0
           Insider                 655.0
           Klaviyo                 893.0
           Segment                1381.0

In [371]:
df7 = df1.groupby(["year", "month", "product"]).sum() 
df7.head(20)
y = df7.unique_page_views.groupby(["year", "month"], group_keys = False).nlargest(1)
y.head(10)

year  month  product
2020  1      Bloomreach     979.0
      2      Bloomreach     881.0
      3      Insider        793.0
      4      Segment       1381.0
      5      Segment       1450.0
      6      Segment       1861.0
      7      Segment       1522.0
      8      Segment       1390.0
      9      Segment       1410.0
      10     Segment       2042.0
Name: unique_page_views, dtype: float64

In [320]:
df4 = df2.loc[df2.left_product == "Segment"]

In [322]:
#df5 = df2.loc[df2.right_product == "Segment"]
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28661 entries, 0 to 28660
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   left_product   28661 non-null  object
 1   right_product  28661 non-null  object
 2   date           28661 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 895.7+ KB

In [323]:
df4["year"] = pd.DatetimeIndex(df4.date).year
df4["month"] = pd.DatetimeIndex(df4.date).month

In [338]:
f = df4.groupby(["year", "month", "right_product"]).count()
#a = df4.right_product.value_counts()
f = f.drop("date", axis = 1)
x = pd.DataFrame(f.left_product.groupby(["year", "month"], group_keys = False).nlargest(1))
x.groupby("right_product").count()

                            left_product
right_product
Bloomreach                            18
Insider                                1
Tealium AudienceStream CDP             3
Tealium iQ Tag Management              4

In [339]:
df3.head()

,review_id,review_date,product,company_segment,star_rating,meets_requirements,quality_of_support,ease_of_admin,ease_of_doing_business_with,ease_of_setup,ease_of_use,price,likes,dislikes,setup_cost,annual_recurring_cost,did_you_switch,switch_from,estimated_roi
0,2119283,2022-02-01,Optimove,Small Business,5.0,6.0,7.0,NaN,NaN,NaN,6.0,4.0,We are using Optimove nearly 2 years now for o...,There isn't much I dislike about Optimove but ...,NaN,NaN,Yes,Salesforce Email Studio,NaN
1,5083225,2022-02-01,Optimove,Mid-Market,5.0,5.0,7.0,6.0,5.0,3.0,5.0,4.0,"Player Segmentation, Professional Support, Dat...",Daily Update issue can be tedious to manage,NaN,NaN,No,NaN,6 months or less
2,4820017,2022-01-31,Treasure Data Customer Data Platform,Mid-Market,4.5,6.0,7.0,7.0,7.0,6.0,6.0,NaN,The most extraordinary thing about Treasure Da...,"Well, the biggest problem in my opinion are th...",NaN,NaN,No,NaN,7-12 months
3,5306121,2022-01-31,Lexer,Mid-Market,5.0,6.0,6.0,NaN,NaN,NaN,6.0,NaN,Team spends time at the start to ensure data i...,I do not have any negatives about the platform...,NaN,NaN,Don't Know,NaN,NaN
4,5306579,2022-01-31,Klaviyo,Small Business,5.0,7.0,6.0,7.0,7.0,7.0,7.0,5.0,I love how easily it integrates in ecommerce m...,"Pricing can be a concern, but they do give a f...",$0-999,$0-999,Yes,673,6 months or less

In [154]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2272 entries, 0 to 2271
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   review_id                    2272 non-null   float64
 1   review_date                  2272 non-null   datetime64[ns]
 2   product                      2272 non-null   object
 3   company_segment              2258 non-null   object
 4   star_rating                  2272 non-null   float64
 5   meets_requirements           1705 non-null   float64
 6   quality_of_support           1654 non-null   float64
 7   ease_of_admin                804 non-null    float64
 8   ease_of_doing_business_with  796 non-null    float64
 9   ease_of_setup                788 non-null    float64
 10  ease_of_use                  1707 non-null   float64
 11  price                        1102 non-null   float64
 12  likes                        2270 non-null   object
 13  dislikes                     2270 non-null   object
 14  setup_cost                   280 non-null    object
 15  annual_recurring_cost        298 non-null    object
 16  did_you_switch               1570 non-null   object
 17  switch_from                  302 non-null    object
 18  estimated_roi                392 non-null    object
dtypes: datetime64[ns](1), float64(9), object(9)
memory usage: 337.4+ KB

In [340]:
df3 = df3.drop(["setup_cost", "annual_recurring_cost", "switch_from", "estimated_roi", "likes", "dislikes"], axis = 1)

In [345]:
df8 = df3.loc[df3.review_date >= '2020-01-01']

In [380]:
df9 = df8.loc[(df8["product"] == "Segment") | (df8["product"] == "Insider") | (df8["product"] == "Klaviyo")]
df9.groupby("product").mean()

,review_id,star_rating,meets_requirements,quality_of_support,ease_of_admin,ease_of_doing_business_with,ease_of_setup,ease_of_use,price
product,,,,,,,,,
Insider,4.793585e+06,4.781818,6.761194,6.873134,6.413793,6.862069,6.533333,6.688889,4.607477
Klaviyo,5.109581e+06,4.765957,6.400000,5.920000,6.411765,6.117647,6.235294,6.280000,5.352941
Segment,4.664307e+06,4.518750,6.346154,6.170455,6.253731,6.322034,6.123077,6.298077,4.848485

In [367]:
df8.groupby("product").mean()

,review_id,star_rating,meets_requirements,quality_of_support,ease_of_admin,ease_of_doing_business_with,ease_of_setup,ease_of_use,price
product,,,,,,,,,
Acoustic Exchange,4.371633e+06,4.000000,6.000000,6.000000,NaN,NaN,NaN,6.000000,4.000000
Acquia Marketing Cloud,5.210358e+06,3.875000,6.333333,6.666667,6.500000,7.000000,6.500000,6.333333,5.500000
ActionIQ,4.764246e+06,4.087500,6.000000,6.285714,5.833333,6.500000,5.000000,5.769231,4.600000
Actito,4.892298e+06,4.375000,6.500000,6.000000,7.000000,7.000000,7.000000,5.500000,NaN
Adobe Experience Platform,4.600140e+06,4.083333,6.250000,5.500000,NaN,NaN,NaN,5.250000,5.000000
...,...,...,...,...,...,...,...,...,...
Xeno,4.689698e+06,4.826087,6.400000,6.700000,6.000000,5.666667,5.000000,6.400000,3.333333
Xtremepush,5.187215e+06,4.954545,6.875000,7.000000,6.000000,7.000000,6.000000,6.875000,3.400000
Zeotap,4.576139e+06,4.486111,6.233333,6.774194,6.571429,6.666667,6.571429,6.266667,4.739130
Zeta Marketing Platform,4.605936e+06,4.000000,6.000000,5.500000,NaN,NaN,NaN,6.000000,6.000000
ZineOne Intelligent Customer Engagement Platform,4.644322e+06,4.500000,6.000000,7.000000,NaN,NaN,NaN,7.000000,6.000000

In [360]:
df9.quality_of_support.mean()

6.170454545454546

In [361]:
df9.meets_requirements.mean()

6.346153846153846

In [362]:
df9.ease_of_doing_business_with.mean()

6.322033898305085

In [363]:
df9.ease_of_setup.mean()

6.123076923076923

In [364]:
df9.ease_of_use.mean()

6.298076923076923

In [365]:
df9.did_you_switch.value_counts()

No            65
Don't Know    23
Yes            3
Name: did_you_switch, dtype: int64

In [167]:
df3.price.mean()

4.745916515426497

In [182]:
x = df3.loc[df3["product"] == "Segment"]

In [183]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 48 to 2216
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   review_id                    205 non-null    float64
 1   review_date                  205 non-null    datetime64[ns]
 2   product                      205 non-null    object
 3   company_segment              205 non-null    object
 4   star_rating                  205 non-null    float64
 5   meets_requirements           147 non-null    float64
 6   quality_of_support           127 non-null    float64
 7   ease_of_admin                95 non-null     float64
 8   ease_of_doing_business_with  86 non-null     float64
 9   ease_of_setup                93 non-null     float64
 10  ease_of_use                  147 non-null    float64
 11  price                        99 non-null     float64
 12  likes                        205 non-null    object
 13  dislikes                     205 non-null    object
 14  did_you_switch               133 non-null    object
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 25.6+ KB

In [188]:
x["ease_of_use"].describe()

count    147.000000
mean       6.265306
std        0.967461
min        2.000000
25%        6.000000
50%        7.000000
75%        7.000000
max        7.000000
Name: ease_of_use, dtype: float64